on:
  push:
    branches:
    - main
  workflow_publish:
  

# Deploy to an app on the Flex Consumption plan using OIDC authentication
jobs:
    build:
      runs-on: ubuntu-latest
      permissions:
          id-token: write # Required for OIDC
          contents: read # Required for actions/checkout
      steps: 
        - uses: actions/checkout@v4
        - name: Debug GitHub environment
          run: echo "${{ github.repository }} - ${{ github.environment }}"
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.12'
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt --target=".python_packages/lib/site-packages"
        - name: Archive function app package
          run: |
            zip -r functionapp.zip . -x "*.git*" "__pycache__/*"
        - name: Upload build artifact
          uses: actions/upload-artifact@v4
          with:
            name: functionapp-package
            path: functionapp.zip
          
    
    deploy:
      runs-on: ubuntu-latest
      needs: build
      environment: dev
      permissions:
          id-token: write # Required for OIDC
      steps:
        - name: Download artifact
          uses: actions/download-artifact@v4
          with:
            name: functionapp-package
            path: .

        - name: Unzip artifact
          run: unzip functionapp.zip -d app

        - name: 'Log in to Azure with AZ CLI'
          uses: azure/login@v2
          with:
            client-id: ${{ secrets.AZURE_CLIENT_ID }} # Required to log in with OIDC
            tenant-id: ${{ secrets.AZURE_TENANT_ID }} # Required to log in with OIDC
            subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }} # Required to log in with OIDC
          
        - name: 'Run the Azure Functions action'
          uses: Azure/functions-action@v1
          id: deploy-to-function-app
          with:
            app-name: ${{ vars.AZURE_FUNCTIONAPP_NAME }}
            package: app

        - name: Set App Settings
          uses: azure/CLI@v1
          with:
            inlineScript: |
              az functionapp config appsettings set \
                --name ${{ vars.AZURE_FUNCTIONAPP_NAME }} \
                --resource-group ${{ vars.AZURE_RESOURCE_GROUP_NAME }} \
                --settings \
                  AzureWebJobsStorage__accountName=${{ vars.AzureWebJobsStorage__accountName }} \
                  AzureWebJobsStorage__queueServiceUri=${{ vars.AzureWebJobsStorage__queueServiceUri }} \
                  AzureWebJobsStorage__credential=${{ vars.AzureWebJobsStorage__credential }} \
                  AzureWebJobsStorage__blobServiceUri=${{ vars.AzureWebJobsStorage__blobServiceUri }} \
                  AzureWebJobsStorage__tableServiceUri=${{ vars.AzureWebJobsStorage__tableServiceUri }} \
                  QueueStorage__blobServiceUri=${{ vars.QueueStorage__blobServiceUri }} \
                  QueueStorage__credential=${{ vars.QueueStorage__credential }} \
                  QueueStorage__queueServiceUri=${{ vars.QueueStorage__queueServiceUri }} \
                  QueueStorage__tableServiceUri=${{ vars.QueueStorage__tableServiceUri }}

        - name: Restart Azure Function App
          uses: azure/CLI@v1
          with:
            inlineScript: |
              az functionapp restart \
                --name ${{ vars.AZURE_FUNCTIONAPP_NAME }} \
                --resource-group ${{ vars.AZURE_RESOURCE_GROUP_NAME }}

